
.bg-img2 {
    background-image: url(./imgs/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
   
  }

.hero-section {
    height: 100vh;
    background-image: url(./imgs/background-img.png);
    background-size: cover;
    background-position: center;
    color: white;
  }
  
 
  .guide-title {
    font-family: Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
    color: #f3c68a;
  }
  

  .main-title {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .scroll-down {
    font-size: 1rem;
    animation: fadeIn 3s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  
  .navbar-nav .nav-link {
    color: #f0f0f0;
    font-weight: 500;
    margin: 0 15px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .nav-link i {
    margin-right: 5px; 
  }
.bg-img{
  
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hiking-level-section {
    color: #ffffff;
    background-color: #0B1D26; 
    padding: 50px;
    position: relative;
  }
  

  .section-number {
    font-size: 5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  

  .section-subtitle {
    color: #f3c68a;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
    z-index: 2;
  }
  

  .section-description {
    font-size: 1rem;
    line-height: 1.6;
  }
  

  .read-more {
    color: #f3c68a;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  
 
  .image-container {
    border: 5px solid #0B1D26;
    padding: 5px;
  }
  
  .image-container img {
    object-fit: cover;
  }

.hiking-gear-section {
    color: #ffffff;
    background-color: #0B1D26; 
    padding: 50px;
    position: relative;
  }
  

  .image-container {
    border: 5px solid #0B1D26;
    padding: 5px;
  }
  
  .image-container img {
    border-radius: 8px;
    object-fit: cover;
  }
  

  .section-number {
    font-size: 5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  

  .section-subtitle {
    color: #f3c68a; 
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
    z-index: 2;
  }

  .section-description {
    font-size: 1rem;
    line-height: 1.6;
  }
  

  .read-more {
    color: #f3c68a;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }

  